@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Quicksand')

$main-font:         'Quicksand', sans-serif
$secondary-font:    'Julius Sans One', sans-serif

$brand-dark:        #1f262a
$brand-silver:      #d2d9db
$brand-blue:        #1190cb
$brand-light:       #eaeaea
$brand-white:       #F4F7F6
