.popular-section
    padding: 40px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    background-color: #F4F7F6	
    
.card-image-wrapper
    max-height: 250px

.card-body
    height: auto
    width: 300px
    border: 2px solid $brand-silver
    border-radius: 10px
    padding: 15px 15px 40px
    margin-top: 20px
    transition: 0.2s ease-in-out
    text-align: center
    background-color: white
    &:hover
        transform: scale(1.02)

.card-header
    font-family: $main-font
    color: $brand-blue
    font-size: 2.5rem
    font-weight: 300

.card-text
    font-family: $main-font
    color: $brand-dark
    padding-bottom: 15px
    font-size: 1.2rem