@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Quicksand");
body {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden; }

.blue-text {
  color: #1190cb;
  font-weight: 700; }

html {
  background-color: #F4F7F6;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden; }

.section-title {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 3rem;
  color: #1f262a;
  padding: 40px; }

.navbar {
  background-color: #eaeaea;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  right: 0;
  left: 0;
  top: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 200; }

.navLogo {
  height: 50px;
  display: flex;
  align-self: center; }

.navMenu {
  display: flex;
  margin: 0;
  padding: 0;
  align-self: center; }
  .navMenu li {
    display: flex; }
    .navMenu li .menuItem {
      padding: 20px;
      display: flex;
      color: #1f262a;
      text-decoration: none;
      font-size: 1.2rem;
      font-family: "Quicksand", sans-serif;
      text-transform: capitalize;
      padding: 0 10px; }
      .navMenu li .menuItem:hover {
        color: #1190cb; }

.navToggleButton {
  color: #1190cb;
  align-self: center;
  font-size: 2rem;
  padding-right: 20px;
  display: none;
  z-index: auto;
  transition: 0.3s ease-in-out; }

.dropdown {
  position: fixed;
  display: none;
  background-color: #eaeaea;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 100;
  transition: 0.3s ease-in; }
  .dropdown ul {
    padding-top: 70px; }
    .dropdown ul li {
      display: flex; }
      .dropdown ul li .menuItem {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #1f262a;
        text-decoration: none;
        font-family: "Quicksand", sans-serif; }

.open {
  top: 0; }

.closed {
  top: -300px; }

.openToggler {
  transform: rotate(180deg) translateX(10px); }

.heroText {
  position: absolute;
  top: 30vh;
  padding: 40px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  left: 0;
  right: 0; }
  .heroText .heroBold {
    font-size: 3rem;
    font-family: "Julius Sans One", sans-serif;
    color: #1190cb; }
  .heroText .heroSmall {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    color: #1f262a; }

.about {
  background-color: #d2d9db;
  margin: 0;
  padding: 80px 40px;
  text-align: center;
  animation: waves 2s ease-out infinite; }
  .about .about-body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    max-width: 600px;
    margin: auto;
    font-size: 1.5rem;
    color: #1f262a;
    margin-bottom: 65px; }

@keyframes waves {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #1190cb;
    -moz-box-shadow: 0px 0px 0px 0px #1190cb;
    box-shadow: 0px 0px 0px 0px #1190cb; }
  100% {
    -webkit-box-shadow: 0px -30px 10px 0px rgba(17, 144, 203, 0);
    -moz-box-shadow: 0px -30px 10px 0px rgba(17, 144, 203, 0);
    box-shadow: 0px -30px 10px 0px rgba(17, 144, 203, 0); } }
.btn {
  text-decoration: none;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
  text-align: center;
  min-width: 64px;
  padding: 8px;
  border-radius: 4px;
  transition: 0.1s ease-in-out; }

.btn-outline {
  color: #1190cb;
  border: 2px solid #1190cb; }
  .btn-outline:hover {
    color: #fff;
    background-color: #1190cb; }

.btn-solid {
  color: #fff;
  background-color: #1190cb;
  border: 2px solid #1190cb; }
  .btn-solid:hover {
    color: #1190cb;
    background-color: #fff; }

.arrow-bounce {
  animation: bounce 1s ease-in-out infinite;
  color: #1f262a; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }
.popular-section {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #F4F7F6; }

.card-image-wrapper {
  max-height: 250px; }

.card-body {
  height: auto;
  width: 300px;
  border: 2px solid #d2d9db;
  border-radius: 10px;
  padding: 15px 15px 40px;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
  text-align: center;
  background-color: white; }
  .card-body:hover {
    transform: scale(1.02); }

.card-header {
  font-family: "Quicksand", sans-serif;
  color: #1190cb;
  font-size: 2.5rem;
  font-weight: 300; }

.card-text {
  font-family: "Quicksand", sans-serif;
  color: #1f262a;
  padding-bottom: 15px;
  font-size: 1.2rem; }

.blackBorder {
  border: none;
  box-shadow: 0 0 20px black; }

.footer {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/pagebreak.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F4F7F6; }

.footer-logo-wrapper {
  align-self: center;
  display: flex;
  right: 0;
  margin-top: 20vh;
  background-color: #1190cb;
  border-radius: 20px;
  box-shadow: 0 0 2px; }
  .footer-logo-wrapper .footer-logo {
    height: 150px; }

.footer-contact {
  display: flex;
  align-self: center;
  text-align: center;
  list-style: none; }
  .footer-contact ul {
    padding: 0; }
    .footer-contact ul li {
      display: block;
      font-family: "Quicksand", sans-serif;
      color: #1f262a; }
      .footer-contact ul li a {
        color: #1190cb; }

.class-body {
  background-image: url("../../images/background.png");
  background-repeat: repeat; }

.margin {
  margin: 10px; }

.upcoming-class-wrapper {
  max-width: 400px;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 0 0 5px #1f262a;
  font-family: "Quicksand", sans-serif; }

.class-type {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: #1190cb;
  font-size: 2.5rem; }

.classes-header {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  color: #1190cb;
  padding-top: 170px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  background-image: linear-gradient(to bottom, #d2d9db, #F4F7F6); }

.class-location {
  font-family: "Julius Sans One", sans-serif;
  color: #1f262a;
  padding-left: 30px;
  margin-bottom: 80px;
  font-size: 2.2rem; }

.signup-btn {
  display: block;
  margin: 40px auto 20px; }

.dark {
  background-color: #1f262a;
  background-image: none;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }

.smm-banner {
  background-image: linear-gradient(to bottom right, #1ECBE1, #1190cb);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.smm-banner-text {
  max-width: 600px;
  padding: 40px;
  padding-bottom: 70px;
  margin: auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #F4F7F6;
  font-weight: 300;
  font-size: 1.3rem; }

.img-wrapper {
  width: 250px;
  padding: 50px;
  align-self: center;
  margin: auto; }

.plans-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
  flex-wrap: wrap; }

.plan {
  text-align: center;
  padding: 20px;
  max-width: 200px;
  align-self: center; }
  .plan hr {
    border-color: #1190cb; }
  .plan h3 {
    font-family: "Quicksand", sans-serif; }

.mvp {
  box-shadow: 0 0 5px #1190cb;
  border-radius: 15px; }

.most-popular {
  background-color: #1190cb;
  height: 30px;
  border-radius: 15px; }
  .most-popular p {
    margin: 0;
    padding-top: 5px;
    font-family: "Quicksand", sans-serif;
    color: #F4F7F6; }

.plan-name {
  font-family: "Julius Sans One", sans-serif; }

.about-plan {
  font-family: "Quicksand", sans-serif; }

.price {
  color: green;
  font-family: "Julius Sans One", sans-serif; }

.website-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px; }

.dark-section {
  background-color: #1f262a;
  box-shadow: inset 0px 0px 20px 0px black;
  overflow: hidden; }

.wave-pagebreak {
  display: flex;
  width: 120%;
  overflow: hidden;
  transform: translateX(-10px) translateY(5px); }

.testimony-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.past-work {
  text-decoration: none;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  margin: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 7px #000; }
  .past-work:hover {
    transform: scale(1.03); }
  .past-work a {
    display: flex;
    color: #F4F7F6;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Julius Sans One", sans-serif;
    align-self: center;
    padding: 0;
    margin: 0;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
