@media only screen and (max-width: 745px){
    .navMenu{
        display: none;
    }
    .navToggleButton, .dropdown{
        display: flex
    }
    .classes-header{
        font-size: 3rem;
    }

        
}